<div class="mt-4">
    <h3>Khóa học của tôi</h3>
    <table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">TT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian tạo</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
        <th scope="row">{{sum @index 1}}</th>  <!-- sum helper nằm trong src/main.js, nó là hàm tính tổng hỗ trợ duyệt stt tăng dần -->
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td style="text-decoration: none; display: flex; justify-content: center;">
            <a href="/courses/{{this._id}}/edit" class="btn btn-primary me-2">Sửa</a>
            <a href="" class="btn btn-danger">Xóa</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>